@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-FD-WOL.eot');
    src: url('../fonts/Vazir-FD-WOL.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-FD-WOL.woff') format('woff'),
    url('../fonts/Vazir-FD-WOL.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Bold-FD-WOL.eot');
    src: url('../fonts/Vazir-Bold-FD-WOL.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Bold-FD-WOL.woff') format('woff'),
    url('../fonts/Vazir-Bold-FD-WOL.ttf') format('truetype');
    font-weight: bold;
}

body{
    background-image: url('img/loginBg.jpg');
    background-size: cover;
    font-family: Vazir;
}

@media(max-width : 768px){
    body{
        background-size: auto;
    }
}

.mainForm{
    padding: 50px;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
  }

  .mainForm{
    max-width: 600px;
  }